This is Set 3: Data Selection (Exercises 21-30) of **Polars Exercises**: 💯 *polars exercises*

You can find all the exercises and solutions on [GitHub](https://github.com/JustinKurland/polars_practice)

**Prerequisites**

*   The `polars` package should be upgraded to the latest version (v0.15.1+).
*   The sample dataset [polars_sample.csv](https://github.com/JustinKurland/polars_practice/blob/main/data/polars_sample.csv) will be used for the exercises.

In [1]:
!pip install polars

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: polars in /usr/local/lib/python3.8/dist-packages (0.15.1)
Requirement already satisfied: typing_extensions>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from polars) (4.1.1)

In [2]:
import polars as pl

data = pl.read_csv('polars_sample.csv')
data

shape: (20, 7)
┌─────────────────────┬──────┬──────┬─────────┬──────────┬───────┬──────────┐
│ timestamp           ┆ user ┆ age  ┆ product ┆ category ┆ price ┆ quantity │
│ ---                 ┆ ---  ┆ ---  ┆ ---     ┆ ---      ┆ ---   ┆ ---      │
│ str                 ┆ str  ┆ i64  ┆ str     ┆ str      ┆ f64   ┆ i64      │
╞═════════════════════╪══════╪══════╪═════════╪══════════╪═══════╪══════════╡
│ 2017-01-01 13:22:41 ┆ U1   ┆ 21   ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2017-05-22 09:54:21 ┆ U2   ┆ 41   ┆ Bread   ┆ NA       ┆ 0.6   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2018-11-09 15:00:01 ┆ U3   ┆ null ┆ Banana  ┆ Fruit    ┆ 0.7   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2018-12-24 23:03:33 ┆ U1   ┆ 21   ┆ Water   ┆ Drink    ┆ 0.2   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ...                 ┆ ...  ┆ ...  ┆ ...     ┆ ...      ┆ ...   ┆ ...      │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-02-03 01:14:40 ┆ U5   ┆ 25   ┆ Eggs    ┆ Dairy    ┆ 2.1   ┆ 4        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-05-26 22:42:15 ┆ U3   ┆ null ┆ Bread   ┆ NA       ┆ 0.6   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-06-14 15:49:28 ┆ U4   ┆ 19   ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-07-01 04:37:31 ┆ U4   ┆ 19   ┆ Water   ┆ Drink    ┆ 0.3   ┆ 1        │
└─────────────────────┴──────┴──────┴─────────┴──────────┴───────┴──────────┘

**Exercise 21: Select the columns `user`, `product` and `quantity` from `data` and assign it to `data_upq` and select the `user` column from `data_upq` and assign it to `data_u`**

**Exercise 22: Select columns 2nd to 4th using indices from `data` and assign it to `data_c234`**

**Exercise 23: Select all string columns from `data` and assign it to `data_str`**

**Exercise 24: Select rows 4th and 1st from `data` and assign it to `data_r41`**

**Exercise 25: Select the element in the 4th row and 2nd column in `data` and assign it to `value_1` and select the 3rd element of `category` column in `data` and assign it to `value_2`**

**Exercise 26: Select rows from `data` where `category` is `Fruit` and assign it to `data_fruit` and select rows from `data_fruit` where `product` is `Banana` and `quantity` is more than 1 and assign it to `data_multi_banana`**

**Exercise 27: Select columns from `data` that have no missing values and assign it to `data_nomissing_cols`**

**Exercise 28: Select rows from `data` that have no missing values and assign it to `data_nomissing_rows`**

**Exercise 29: Select unique rows from `data` and assign it to `data_unique` and `select unique `product` from `data_unique` and assign it to `product_unique`**

**Exercise 30: Select first row of each user from `data` and assign it to `data_first`**