This is Set 3: Data Selection (Exercises 21-30) of **Polars Exercises**: 💯 *polars exercises*

You can find all the exercises and solutions on [GitHub](https://github.com/JustinKurland/polars_practice)

**Prerequisites**

*   The `polars` package should be upgraded to the latest version (v0.15.1+).
*   The sample dataset [polars_sample.csv](https://github.com/JustinKurland/polars_practice/blob/main/data/polars_sample.csv) will be used for the exercises.

In [1]:
!pip install polars

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: polars in /usr/local/lib/python3.8/dist-packages (0.15.1)
Requirement already satisfied: typing_extensions>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from polars) (4.1.1)

In [2]:
import polars as pl

data = pl.read_csv('polars_sample.csv')
data

shape: (20, 7)
┌─────────────────────┬──────┬──────┬─────────┬──────────┬───────┬──────────┐
│ timestamp           ┆ user ┆ age  ┆ product ┆ category ┆ price ┆ quantity │
│ ---                 ┆ ---  ┆ ---  ┆ ---     ┆ ---      ┆ ---   ┆ ---      │
│ str                 ┆ str  ┆ i64  ┆ str     ┆ str      ┆ f64   ┆ i64      │
╞═════════════════════╪══════╪══════╪═════════╪══════════╪═══════╪══════════╡
│ 2017-01-01 13:22:41 ┆ U1   ┆ 21   ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2017-05-22 09:54:21 ┆ U2   ┆ 41   ┆ Bread   ┆ NA       ┆ 0.6   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2018-11-09 15:00:01 ┆ U3   ┆ null ┆ Banana  ┆ Fruit    ┆ 0.7   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2018-12-24 23:03:33 ┆ U1   ┆ 21   ┆ Water   ┆ Drink    ┆ 0.2   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ...                 ┆ ...  ┆ ...  ┆ ...     ┆ ...      ┆ ...   ┆ ...      │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-02-03 01:14:40 ┆ U5   ┆ 25   ┆ Eggs    ┆ Dairy    ┆ 2.1   ┆ 4        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-05-26 22:42:15 ┆ U3   ┆ null ┆ Bread   ┆ NA       ┆ 0.6   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-06-14 15:49:28 ┆ U4   ┆ 19   ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-07-01 04:37:31 ┆ U4   ┆ 19   ┆ Water   ┆ Drink    ┆ 0.3   ┆ 1        │
└─────────────────────┴──────┴──────┴─────────┴──────────┴───────┴──────────┘

**Exercise 21: Select the columns `user`, `product` and `quantity` from `data` and assign it to `data_upq` and select the `user` column from `data_upq` and assign it to `data_u`**

In [3]:
data_upq = data[['user', 'product', 'quantity']]
data_upq

shape: (20, 3)
┌──────┬─────────┬──────────┐
│ user ┆ product ┆ quantity │
│ ---  ┆ ---     ┆ ---      │
│ str  ┆ str     ┆ i64      │
╞══════╪═════════╪══════════╡
│ U1   ┆ Eggs    ┆ 2        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ U2   ┆ Bread   ┆ 2        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ U3   ┆ Banana  ┆ 1        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ U1   ┆ Water   ┆ 1        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ...  ┆ ...     ┆ ...      │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ U5   ┆ Eggs    ┆ 4        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ U3   ┆ Bread   ┆ 1        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ U4   ┆ Eggs    ┆ 2        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ U4   ┆ Water   ┆ 1        │
└──────┴─────────┴──────────┘

In [4]:
data_u = pl.DataFrame(data_upq['user'])
data_u

shape: (20, 1)
┌──────┐
│ user │
│ ---  │
│ str  │
╞══════╡
│ U1   │
├╌╌╌╌╌╌┤
│ U2   │
├╌╌╌╌╌╌┤
│ U3   │
├╌╌╌╌╌╌┤
│ U1   │
├╌╌╌╌╌╌┤
│ ...  │
├╌╌╌╌╌╌┤
│ U5   │
├╌╌╌╌╌╌┤
│ U3   │
├╌╌╌╌╌╌┤
│ U4   │
├╌╌╌╌╌╌┤
│ U4   │
└──────┘

**Exercise 22: Select columns 2nd to 4th using indices from `data` and assign it to `data_c234`**

In [5]:
data_c234 = data[:, 1:4]
data_c234

shape: (20, 3)
┌──────┬──────┬─────────┐
│ user ┆ age  ┆ product │
│ ---  ┆ ---  ┆ ---     │
│ str  ┆ i64  ┆ str     │
╞══════╪══════╪═════════╡
│ U1   ┆ 21   ┆ Eggs    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ U2   ┆ 41   ┆ Bread   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ U3   ┆ null ┆ Banana  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ U1   ┆ 21   ┆ Water   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ ...  ┆ ...  ┆ ...     │
├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ U5   ┆ 25   ┆ Eggs    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ U3   ┆ null ┆ Bread   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ U4   ┆ 19   ┆ Eggs    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ U4   ┆ 19   ┆ Water   │
└──────┴──────┴─────────┘

**Exercise 23: Select all string columns from `data` and assign it to `data_str`**

In [6]:
data_str = data.select(pl.col(pl.Utf8))
data_str

shape: (20, 4)
┌─────────────────────┬──────┬─────────┬──────────┐
│ timestamp           ┆ user ┆ product ┆ category │
│ ---                 ┆ ---  ┆ ---     ┆ ---      │
│ str                 ┆ str  ┆ str     ┆ str      │
╞═════════════════════╪══════╪═════════╪══════════╡
│ 2017-01-01 13:22:41 ┆ U1   ┆ Eggs    ┆ Dairy    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2017-05-22 09:54:21 ┆ U2   ┆ Bread   ┆ NA       │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2018-11-09 15:00:01 ┆ U3   ┆ Banana  ┆ Fruit    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2018-12-24 23:03:33 ┆ U1   ┆ Water   ┆ Drink    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ...                 ┆ ...  ┆ ...     ┆ ...      │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-02-03 01:14:40 ┆ U5   ┆ Eggs    ┆ Dairy    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-05-26 22:42:15 ┆ U3   ┆ Bread   ┆ NA       │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-06-14 15:49:28 ┆ U4   ┆ Eggs    ┆ Dairy    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-07-01 04:37:31 ┆ U4   ┆ Water   ┆ Drink    │
└─────────────────────┴──────┴─────────┴──────────┘

**Exercise 24: Select rows 4th and 1st from `data` and assign it to `data_r41`**

In [7]:
data_r41 = data[[3, 0], :]
data_r41

shape: (2, 7)
┌─────────────────────┬──────┬─────┬─────────┬──────────┬───────┬──────────┐
│ timestamp           ┆ user ┆ age ┆ product ┆ category ┆ price ┆ quantity │
│ ---                 ┆ ---  ┆ --- ┆ ---     ┆ ---      ┆ ---   ┆ ---      │
│ str                 ┆ str  ┆ i64 ┆ str     ┆ str      ┆ f64   ┆ i64      │
╞═════════════════════╪══════╪═════╪═════════╪══════════╪═══════╪══════════╡
│ 2018-12-24 23:03:33 ┆ U1   ┆ 21  ┆ Water   ┆ Drink    ┆ 0.2   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2017-01-01 13:22:41 ┆ U1   ┆ 21  ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
└─────────────────────┴──────┴─────┴─────────┴──────────┴───────┴──────────┘

**Exercise 25: Select the element in the 4th row and 2nd column in `data` and assign it to `value_1` and select the 3rd element of `category` column in `data` and assign it to `value_2`**

In [8]:
value_1 = data[3, 1]
value_1

'U1'

In [9]:
value_2 = data[2, 'category']
value_2

'Fruit'

**Exercise 26: Select rows from `data` where `category` is `Fruit` and assign it to `data_fruit` and select rows from `data_fruit` where `product` is `Banana` and `quantity` is more than 1 and assign it to `data_multi_banana`**

In [10]:
data_fruit = data.filter(pl.col('category') == 'Fruit')
data_fruit

shape: (8, 7)
┌─────────────────────┬──────┬──────┬─────────┬──────────┬───────┬──────────┐
│ timestamp           ┆ user ┆ age  ┆ product ┆ category ┆ price ┆ quantity │
│ ---                 ┆ ---  ┆ ---  ┆ ---     ┆ ---      ┆ ---   ┆ ---      │
│ str                 ┆ str  ┆ i64  ┆ str     ┆ str      ┆ f64   ┆ i64      │
╞═════════════════════╪══════╪══════╪═════════╪══════════╪═══════╪══════════╡
│ 2018-11-09 15:00:01 ┆ U3   ┆ null ┆ Banana  ┆ Fruit    ┆ 0.7   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2019-06-17 16:13:39 ┆ U5   ┆ 25   ┆ Grapes  ┆ Fruit    ┆ 1.5   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2019-12-05 04:15:42 ┆ U1   ┆ 21   ┆ Banana  ┆ Fruit    ┆ 0.7   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2020-02-02 03:45:34 ┆ U3   ┆ null ┆ Banana  ┆ Fruit    ┆ 0.7   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2020-03-05 07:09:12 ┆ U4   ┆ 19   ┆ Grapes  ┆ Fruit    ┆ 1.5   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2020-04-01 13:21:41 ┆ U1   ┆ 21   ┆ Banana  ┆ Fruit    ┆ 0.7   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2020-07-08 11:45:25 ┆ U2   ┆ 41   ┆ Grapes  ┆ Fruit    ┆ 1.5   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2020-12-03 16:23:48 ┆ U3   ┆ null ┆ Banana  ┆ Fruit    ┆ 0.5   ┆ 3        │
└─────────────────────┴──────┴──────┴─────────┴──────────┴───────┴──────────┘

In [11]:
data_multi_banana = data_fruit.filter((pl.col('product') == 'Banana') & (pl.col('quantity') > 1))
data_multi_banana

shape: (3, 7)
┌─────────────────────┬──────┬──────┬─────────┬──────────┬───────┬──────────┐
│ timestamp           ┆ user ┆ age  ┆ product ┆ category ┆ price ┆ quantity │
│ ---                 ┆ ---  ┆ ---  ┆ ---     ┆ ---      ┆ ---   ┆ ---      │
│ str                 ┆ str  ┆ i64  ┆ str     ┆ str      ┆ f64   ┆ i64      │
╞═════════════════════╪══════╪══════╪═════════╪══════════╪═══════╪══════════╡
│ 2019-12-05 04:15:42 ┆ U1   ┆ 21   ┆ Banana  ┆ Fruit    ┆ 0.7   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2020-04-01 13:21:41 ┆ U1   ┆ 21   ┆ Banana  ┆ Fruit    ┆ 0.7   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2020-12-03 16:23:48 ┆ U3   ┆ null ┆ Banana  ┆ Fruit    ┆ 0.5   ┆ 3        │
└─────────────────────┴──────┴──────┴─────────┴──────────┴───────┴──────────┘

**Exercise 27: Select columns from `data` that have no missing values and assign it to `data_nomissing_cols`**

In [12]:
data_nomissing_cols = data[[s.name for s in data if not (s.null_count() != 0)]]
data_nomissing_cols

shape: (20, 6)
┌─────────────────────┬──────┬─────────┬──────────┬───────┬──────────┐
│ timestamp           ┆ user ┆ product ┆ category ┆ price ┆ quantity │
│ ---                 ┆ ---  ┆ ---     ┆ ---      ┆ ---   ┆ ---      │
│ str                 ┆ str  ┆ str     ┆ str      ┆ f64   ┆ i64      │
╞═════════════════════╪══════╪═════════╪══════════╪═══════╪══════════╡
│ 2017-01-01 13:22:41 ┆ U1   ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2017-05-22 09:54:21 ┆ U2   ┆ Bread   ┆ NA       ┆ 0.6   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2018-11-09 15:00:01 ┆ U3   ┆ Banana  ┆ Fruit    ┆ 0.7   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2018-12-24 23:03:33 ┆ U1   ┆ Water   ┆ Drink    ┆ 0.2   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ...                 ┆ ...  ┆ ...     ┆ ...      ┆ ...   ┆ ...      │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-02-03 01:14:40 ┆ U5   ┆ Eggs    ┆ Dairy    ┆ 2.1   ┆ 4        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-05-26 22:42:15 ┆ U3   ┆ Bread   ┆ NA       ┆ 0.6   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-06-14 15:49:28 ┆ U4   ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-07-01 04:37:31 ┆ U4   ┆ Water   ┆ Drink    ┆ 0.3   ┆ 1        │
└─────────────────────┴──────┴─────────┴──────────┴───────┴──────────┘

**Exercise 28: Select rows from `data` that have no missing values and assign it to `data_nomissing_rows`**

In [13]:
data_nomissing_rows = data.filter(pl.col('*') != None).filter(pl.col(data.select(pl.col(pl.Utf8)).columns) != "NA")
data_nomissing_rows

shape: (14, 7)
┌─────────────────────┬──────┬─────┬─────────┬──────────┬───────┬──────────┐
│ timestamp           ┆ user ┆ age ┆ product ┆ category ┆ price ┆ quantity │
│ ---                 ┆ ---  ┆ --- ┆ ---     ┆ ---      ┆ ---   ┆ ---      │
│ str                 ┆ str  ┆ i64 ┆ str     ┆ str      ┆ f64   ┆ i64      │
╞═════════════════════╪══════╪═════╪═════════╪══════════╪═══════╪══════════╡
│ 2017-01-01 13:22:41 ┆ U1   ┆ 21  ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2018-12-24 23:03:33 ┆ U1   ┆ 21  ┆ Water   ┆ Drink    ┆ 0.2   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2019-03-03 06:21:58 ┆ U4   ┆ 19  ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2019-06-17 16:13:39 ┆ U5   ┆ 25  ┆ Grapes  ┆ Fruit    ┆ 1.5   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ...                 ┆ ...  ┆ ... ┆ ...     ┆ ...      ┆ ...   ┆ ...      │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2020-11-19 18:51:22 ┆ U5   ┆ 25  ┆ Water   ┆ Drink    ┆ 0.2   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-02-03 01:14:40 ┆ U5   ┆ 25  ┆ Eggs    ┆ Dairy    ┆ 2.1   ┆ 4        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-06-14 15:49:28 ┆ U4   ┆ 19  ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-07-01 04:37:31 ┆ U4   ┆ 19  ┆ Water   ┆ Drink    ┆ 0.3   ┆ 1        │
└─────────────────────┴──────┴─────┴─────────┴──────────┴───────┴──────────┘

**Exercise 29: Select unique rows from `data` and assign it to `data_unique` and `select unique `product` from `data_unique` and assign it to `product_unique`**

In [14]:
data_unique = data.unique()
data_unique

shape: (20, 7)
┌─────────────────────┬──────┬──────┬─────────┬──────────┬───────┬──────────┐
│ timestamp           ┆ user ┆ age  ┆ product ┆ category ┆ price ┆ quantity │
│ ---                 ┆ ---  ┆ ---  ┆ ---     ┆ ---      ┆ ---   ┆ ---      │
│ str                 ┆ str  ┆ i64  ┆ str     ┆ str      ┆ f64   ┆ i64      │
╞═════════════════════╪══════╪══════╪═════════╪══════════╪═══════╪══════════╡
│ 2017-01-01 13:22:41 ┆ U1   ┆ 21   ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2017-05-22 09:54:21 ┆ U2   ┆ 41   ┆ Bread   ┆ NA       ┆ 0.6   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2018-11-09 15:00:01 ┆ U3   ┆ null ┆ Banana  ┆ Fruit    ┆ 0.7   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2018-12-24 23:03:33 ┆ U1   ┆ 21   ┆ Water   ┆ Drink    ┆ 0.2   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ...                 ┆ ...  ┆ ...  ┆ ...     ┆ ...      ┆ ...   ┆ ...      │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-02-03 01:14:40 ┆ U5   ┆ 25   ┆ Eggs    ┆ Dairy    ┆ 2.1   ┆ 4        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-05-26 22:42:15 ┆ U3   ┆ null ┆ Bread   ┆ NA       ┆ 0.6   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-06-14 15:49:28 ┆ U4   ┆ 19   ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-07-01 04:37:31 ┆ U4   ┆ 19   ┆ Water   ┆ Drink    ┆ 0.3   ┆ 1        │
└─────────────────────┴──────┴──────┴─────────┴──────────┴───────┴──────────┘

In [15]:
product_unique = data.groupby(by=['product']).n_unique().select("product")
product_unique

shape: (5, 1)
┌─────────┐
│ product │
│ ---     │
│ str     │
╞═════════╡
│ Grapes  │
├╌╌╌╌╌╌╌╌╌┤
│ Bread   │
├╌╌╌╌╌╌╌╌╌┤
│ Eggs    │
├╌╌╌╌╌╌╌╌╌┤
│ Water   │
├╌╌╌╌╌╌╌╌╌┤
│ Banana  │
└─────────┘

**Exercise 30: Select first row of each user from `data` and assign it to `data_first`**

In [16]:
data_first = data.groupby("user", maintain_order=True).first()
data_first

shape: (5, 7)
┌──────┬─────────────────────┬──────┬─────────┬──────────┬───────┬──────────┐
│ user ┆ timestamp           ┆ age  ┆ product ┆ category ┆ price ┆ quantity │
│ ---  ┆ ---                 ┆ ---  ┆ ---     ┆ ---      ┆ ---   ┆ ---      │
│ str  ┆ str                 ┆ i64  ┆ str     ┆ str      ┆ f64   ┆ i64      │
╞══════╪═════════════════════╪══════╪═════════╪══════════╪═══════╪══════════╡
│ U1   ┆ 2017-01-01 13:22:41 ┆ 21   ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ U2   ┆ 2017-05-22 09:54:21 ┆ 41   ┆ Bread   ┆ NA       ┆ 0.6   ┆ 2        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ U3   ┆ 2018-11-09 15:00:01 ┆ null ┆ Banana  ┆ Fruit    ┆ 0.7   ┆ 1        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ U4   ┆ 2019-03-03 06:21:58 ┆ 19   ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ U5   ┆ 2019-06-17 16:13:39 ┆ 25   ┆ Grapes  ┆ Fruit    ┆ 1.5   ┆ 1        │
└──────┴─────────────────────┴──────┴─────────┴──────────┴───────┴──────────┘