This is Set 4: DataFrame Operations (Exercises 31-40) of **Polars Exercises**: 💯 polars exercises
You can find all the exercises and solutions on [GitHub](https://github.com/JustinKurland/polars_practice/tree/main/notebooks)

**Prerequisites**

*   The `polars` package should be upgraded to the latest version (v0.15.1+).
*   The sample dataset [titanic](https://www.openml.org/search?type=data&sort=runs&id=40945&status=active) from openml will be used for the exercises.

In [1]:
!pip install polars
#!wget https://www.openml.org/data/get_csv/16826755/titanic.csv

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: polars in /usr/local/lib/python3.8/dist-packages (0.15.2)
Requirement already satisfied: typing_extensions>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from polars) (4.1.1)

In [2]:
import polars as pl

data = pl.read_csv('titanic.csv', null_values = '?')
data

shape: (1309, 15)
┌──────┬────────┬──────────┬────────────────────┬─────┬──────────┬──────┬──────┬───────────────────┐
│ id   ┆ pclass ┆ survived ┆ name               ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---  ┆ ---    ┆ ---      ┆ ---                ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64  ┆ i64    ┆ i64      ┆ str                ┆     ┆ str      ┆ str  ┆ i64  ┆ str               │
╞══════╪════════╪══════════╪════════════════════╪═════╪══════════╪══════╪══════╪═══════════════════╡
│ 1    ┆ 1      ┆ 1        ┆ Allen,Miss.        ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis,MO       │
│      ┆        ┆          ┆ Elisabeth Walton   ┆     ┆          ┆      ┆      ┆                   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2    ┆ 1      ┆ 1        ┆ Allison,Master.    ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal,PQ /     │
│      ┆        ┆          ┆ Hudson Trevor      ┆     ┆          ┆      ┆      ┆ Chesterville,ON   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3    ┆ 1      ┆ 0        ┆ Allison,Miss.      ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal,PQ /     │
│      ┆        ┆          ┆ Helen Loraine      ┆     ┆          ┆      ┆      ┆ Chesterville,ON   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 4    ┆ 1      ┆ 0        ┆ Allison,Mr. Hudson ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal,PQ /     │
│      ┆        ┆          ┆ Joshua Creigh...   ┆     ┆          ┆      ┆      ┆ Chesterville,ON   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...  ┆ ...    ┆ ...      ┆ ...                ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1306 ┆ 3      ┆ 0        ┆ Zabour,Miss.       ┆ ... ┆ C        ┆ null ┆ null ┆ null              │
│      ┆        ┆          ┆ Thamine            ┆     ┆          ┆      ┆      ┆                   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1307 ┆ 3      ┆ 0        ┆ Zakarian,Mr.       ┆ ... ┆ C        ┆ null ┆ 304  ┆ null              │
│      ┆        ┆          ┆ Mapriededer        ┆     ┆          ┆      ┆      ┆                   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1308 ┆ 3      ┆ 0        ┆ Zakarian,Mr. Ortin ┆ ... ┆ C        ┆ null ┆ null ┆ null              │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1309 ┆ 3      ┆ 0        ┆ Zimmerman,Mr. Leo  ┆ ... ┆ S        ┆ null ┆ null ┆ null              │
└──────┴────────┴──────────┴────────────────────┴─────┴──────────┴──────┴──────┴───────────────────┘

**Exercise 31: Print all the column names and column types of `data` in `column-name : column-type` format**

**Exercise 32: Convert the type of column `age` in `data` from `Float64` to `Float32`**

**Exercise 33: Rename the column `home.dest` in `data` to `address`**

**Exercise 34: Sort `data` in descending order of `fare`**

**Exercise 35: Create a column `deck` in `data` containing only the first character of `cabin`**

**Exercise 36: Create a column `family` in `data` which is the sum of two columns `sibsp` and `parch`**

**Exercise 37: Create a column `total_passengers` in `data` which is the sum of `family` and the passenger included and round the values of column `age` in `data` to the nearest integer**

**Exercise 38: Delete the used columns `sibsp` and `parch` and the first and last rows from `data`**

**Exercise 39: Replace all string `null` values with `NA` as missing values in `data`**

**Exercise 40: Impute all the missing values in `data` with `-1` for numeric columns and `'unknown'` for string columns**